<li>

	<div class='event-list-item' id='event._id' ng-click='eventClick(event._id)'>

		<span class='ename'>{{event.eventName}}</span><br>
		<span class='eorganizer'>{{event.organizer}}</span>

	</div>
	<ul class='event-room-dropdown em-slide-down' ng-if='shared.activeEvent.value === event._id'>
		<li class='room-list-item' ng-repeat='room in event.roomObject'>

			<div class='event-room-text-wrapper'>

				<span class='room-list-text rl-text-room'>Room:</span> <span class='room-list-field rl-field-room'>{{room.room}}</span>
				<div class='room-list-field rl-field-time'>{{format(room.start, 'LT')}} - {{format(room.end, 'LT')}}</div>

			</div>

		</li>
	</ul>


</li>