<div class="header clear">
  <div class="navbar" role="navigation">
    <a class="sr-only" href="#pgcontent">Toggle navigation</a>
    <span class="navbar-brand" href="#/">Event Manager</span>
	  <div class="navbar-links">
    	<a class="nav-link active" href="#/">Dashboard</a>
    	<a class="nav-link" href="#/">Create an Event</a>
	  </div>
  </div>
</div>
    
<router-outlet></router-outlet>
      
<div class="footer clear">
  <div class="footer-content">
    <i class="fa fa-bullhorn"></i> <span> event manager: manage events</span>
  </div>
</div>