@import "shared/styles/resets";
@import "shared/styles/variables";


// hides elements but leaves them screen readable
.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.em-app-container{
  height: 100vh;
  
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.header {
    flex: 0 0 3em;

    position: relative;
    top: 0px;
    border-bottom: 2px solid #CCC;
    background-color: $brand-bg;
    margin-bottom: 1%;
}
.header > h3 {
	margin: auto;
	line-height: 40px;
	padding-bottom: 0;
}

.footer {
		flex: 0 0 auto;
		
    position: relative;
		
    font-size: 85%;
    color: #666;
    height: 5%;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid #EEE;
    padding: 5px 10px;
    margin-top: 2px;
}
.footer-content {
    padding-left: 2%;
}


em-dashboard{
	flex: 1 0 40em;
}

.content{
    padding: 0 1em 1em;
    height: 87%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;

}



.icon {
    width:1em;
    height:1em;
}


.box {
    position:relative;
    float:left;
    border: 2px solid $nice-blue-lighter;
    border-radius: 4px;
    margin-left: 2px;

    h4 {
        padding: 5px 5px;
        margin: 0;
        border-bottom: 2px solid #9DBCC9;
        border-radius: 4px;
        background-color: $brand-bg;
    }
}


.navbar-links {
    float:left;
    
}


/* Responsive: Portrait tablets and up*/
@media screen and (min-width: 768px) {

  .header {
    margin-bottom: 10px;
  }
}

