$col-event-class: #ed4912;

.dashboard-container{  // defunct, replaced by 'content' tag
}

.content{
    padding: 0 1em 1em;
    height: 80%;
}

.event-list-box {
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
    width: 22%;
    height: 100%;

}

.dash-header {
	font-family: $font-family-serif;
    padding: 5px 5px;
    margin: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 4em;
    border-bottom: 2px groove #9DBCC9;
    border-radius: 4px;
    background-color: lighten($brand-bg, 5%);
}

.event-list-container{

	width: auto;
	height: 90%;
	margin: 2% 1% 2% 2%;
	border: 2px groove #9DBCC9;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #FFF;

	.event-list-item:hover{
		background-color: darken($brand-bg, 5%);
	}
}





.event-list-item {
	height: 2.7em;
	margin-bottom: 2px;
	padding: 1%;
	background-color: $brand-bg;
	border-left: 0.3em solid $col-event-class;



	.ename, .eorganizer, .etime{
	
	// uh?	
	
	}

	.ename{
		font-size: 90%;
	}

	.eorganizer{
		font-size: 85%;
		color: #777;
		font-style: italic;
	}

	.etime{

	}
}

.event-list-date-divider{
	font-family: $font-family-serif;
	padding-left: 1em;
}


.schedule-container {
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
    width: 60%;
    height: 100%;
}

.schedule{
	width: auto;
	height: 90%;
	margin: 1% 0.5% 1%;
	border: 1px solid #9DBCC9;
	border-radius: 4px;
	background-color: #FFF;
}


.month-calendar {
    width: 15%;
    height: 100%;
}