.dashboard-container{
    padding: 0 2em;
}

.event-list {
    width: 25%;
    min-height: 400px;
}

.event-list-header {

}

.schedule {
    width: 60%;
    min-height: 400px;
}


.month-calendar {
    width: 15%;
}