.dashboard-container{  // defunct, replaced by 'content' tag
}

.content{
    padding: 0 2em;
    height: 60%;
}

.event-list-box {
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
    width: 25%;
    height: 100%;

}

.dash-header {
    padding: 5px 5px;
    margin: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 3em;
    border-bottom: 2px groove #9DBCC9;
    border-radius: 4px;
    background-color: $brand-bg;
}

.event-list-container{

	width: auto;
	height: 90%;
	margin: 2%;
	border: 2px groove #9DBCC9;
	border-radius: 4px;
}

.schedule {
    width: 60%;
    height: 100%;
}


.month-calendar {
    width: 15%;
    height: 100%;
}