.fc {
	width: 100%;
	font-family: $font-family-sans-serif;
}

.fc-header-title > h2 {
	font-weight: normal;
}

// fullcalendar classNames
.selected {
	background-color: $brand-info;
	border-color: red;
}

