@import "variables";

$header-height: 50px;
$nice-blue: #9DBCC9;
$nice-blue-light: #ABC4CE;
$nice-blue-lighter: #BCCBD1;

/*
// bower:scss
// endbower
*/

@import "partials/dashboard";
@import "partials/eventpage";
@import "partials/fullcalendar-custom";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {

    width: 100%;
    height: 100%;
    font-family: $font-family-sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;

    // display: flex;  // <--- solve this problem when u care


}
/* side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 14px;
    padding-right: 15px;
}
// resetting default list styling
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
// for ie9
li {
    list-style-type: none;
}
// resetting some default link styling
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
// hides elements but leaves them screen readable
.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.header {
    height: $header-height;
    position: relative;
    top: 0px;
    border-bottom: 2px solid #CCC;
    background-color: $brand-bg;
    margin-bottom: 1%;

    /* Make the masthead heading the same height as the navigation */ 
    h3 {
    margin: auto;
    line-height: 40px;
    padding-bottom: 0;
    }

}

.navbar{
    padding-bottom: 0;
    .nav-link, .navbar-brand {
        color: #000;
        position:relative;
        float:left;
        margin: 5px 5px 0 0;
        padding: 10px 5px;
    }
    
    .nav-link{
        border: 1px solid #AAA;
        border-radius: 4px;
        font-size: 87%;
        color: #555;
    }
    
    .active{
        background-color: $nice-blue-lighter;
        color: #888;
    }
    
    .navbar-brand {
        padding-left: 15px;
        padding-right: 20px;
    }
    
}

.footer {
    font-size: 85%;
    color: #666;
    height: 5%;
    width: 100%;
    position: relative;
    bottom: 0px;
    border-top: 1px solid #EEE;
    padding: 5px 10px;
    margin-top: 2px;
}
.footer-content {
    padding-left: 2%;
}


.content{
    padding: 0 1em 1em;
    height: 87%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;

}



.icon {
    width:1em;
    height:1em;
}

.clear {
    clear: both;
    overflow: auto;
}

.box {
    position:relative;
    float:left;
    border: 2px solid $nice-blue-lighter;
    border-radius: 4px;
    margin-left: 2px;

    h4 {
        padding: 5px 5px;
        margin: 0;
        border-bottom: 2px groove #9DBCC9;
        border-radius: 4px;
        background-color: $brand-bg;
    }
}


.navbar-links {
    float:left;
    
}


/* Responsive: Portrait tablets and up*/
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
}

