@import "variables";

/*
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
*/

@import "partials/dashboard";
@import "partials/eventpage";

html,body {
    box-sizing: border-box;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 14px;
    padding-right: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
// for ie9
li {
    list-style-type: none;
}

// hides elements but leaves them screen readable
.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.header {
    position: relative;
    top: 0;
    border-bottom: 2px solid;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */ 
    h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    }

}
// direct subset of header - merge?
.navbar{
    
}

.navbar-brand {
    float: left;
}

.navbar-links{
    a {
        position:relative;
        float:right;
    }
}


.footer {
      position: relative;
      bottom:0;
      padding-top: 19px;
      color: #777;
      border-top: 1px solid #e5e5e5;
}


.icon {
    width:1em;
    height:1em;
}

.container {
    
} 

.box {
    position:relative;
    float:left;
    width: 33.333%;
    margin-left: 5px;
    border: 5px solid $brand-info;
}

.navbar-links {
    float:left;
    
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

