@import '../../../shared/styles/variables';

:host{
	background-color: $gray-lighter;
	width: 100%;
	height: 3.5em;

	display: block;

	font-family: $sans;
	border-bottom: 1px solid $col-border-light;

	overflow: visible;

	cursor: pointer;

	transition: background-color 200ms ease,
							transform 200ms ease;
}

:host:hover{
	transform: translateX(0.5%);
	background-color: lighten( $gray-lighter, 3% );
}

:host:active{
	background-color: lighten( $gray-lighter, 1% ) !important;
}

:host.focused{
	transform: translateX(2%);
	background-color: lighten( $gray-lighter, 4% );
}
:host.focused > .event-link {
	transform: translateX(0);
} 

.block{
	display: block;
	float: left;
	height: 100%;
	overflow: hidden;
}

.event-type-container{
	position: relative;
	width: 3%;
	height: 100%;
	overflow: visible;
}
.event-type{
	position: absolute;
	left: -14px;
	width: 20px;
	height: 100%;
	border-radius: 2px;
	border-right: 1px solid $col-border;
}

.event-name{
	width: 47%;
}

.horizontal-block{
	width: 100%;
	height: 50%;
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	line-height: 27px;
}
.event-title{
	font-size: 90%;
}
.event-organizer{
	font-size: 90%;
}

.event-info{
	float: right;
	max-width: 40%;
}
.event-time{
	text-align: center;
	font-size: 80%;
}
.text-light{
	font-size: 80%;
	color: $gray;
}
.event-resource{
	font-size: 80%;
	text-align: center;
}
.event-status{
}

.event-link{
	transform: translateX(80%);

	user-select: none;
	cursor: pointer;

	float: right;
	// FIXME: hard-coded
	line-height: 65px;
	width: 10%;
	text-align: center;
	vertical-align: center;
	background-color: darken( $gray-lighter, 4% );
	border-radius: 50% 0 0 50%;

	transform-origin: center right;
	transition: background-color 200ms ease,
							transform 150ms ease;
} 
.event-link:hover{
	background-color: darken( $gray-lighter, 9% );
	transform: scaleX(1.1) !important;
}
.event-link:active{
	transform: scaleX(0.97) !important;
}
