/* Coolors Exported Palette - coolors.co/cca9a9-ed4912-707d84-fffaff-277a96 */
:host {
  width: 100%;
  padding: 0.5em 0.25em 0.5em 0;
  font-family: "Helvetica", sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.day-inline {
  margin-left: 5px;
  display: inline-block;
  text-align: center; }

.date {
  -webkit-flex: 1 0 30%;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%; }

.num-events {
  font-size: 90%;
  -webkit-flex: 1 0 20%;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%; }

.text-light {
  color: #555555; }

.text-small {
  font-size: 80%; }

.collapse-button-container {
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: #eeeeee; }
