@import '../../../shared/styles/variables';

:host{
	width: 100%;
	padding: 0.5em 0.25em 0.5em 0;
	font-family: $sans;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.day-inline{
	margin-left: 5px;
	display: inline-block;
	text-align: center;
}
.date{
	flex: 1 0 30%;
}
.num-events{
	font-size: 90%;
	flex: 1 0 20%;
}

.text-light{
	color: $gray;
}
.text-small{
	font-size: 80%;
}

.collapse-button-container{
	flex: 0 0 24px;
	padding: 0 5px;
	border-radius: 4px;
	background-color: $gray-lighter;
}