
<div class='day-header-container'>

	<div class='day-inline date'>
	{{ day.format('MMMM D YYYY') }}
	</div>
	<div class='day-inline num-events'>
		<span class='text-emphasis'> {{ events?.length }}</span>
		<span class='text-light text-small'> events</span>
	</div>

	<div (click)='toggleEventsDropdown()' class='collapse-button-container'>
		<i class='collapse-button material-icons md-dark'>expand_less</i>
	</div>

</div>


<div class='day-events-container' *ngIf='events' [emSlideDown]='dropdownOpen'>

	<em-event-list-item  *ngFor='let event of events' [event]='event'></em-event-list-item>

</div>

