/* Coolors Exported Palette - coolors.co/cca9a9-ed4912-707d84-fffaff-277a96 */
:host {
  background-color: #e2e2e2;
  width: 100%;
  height: 2.5em;
  display: block;
  font-family: "Helvetica", sans-serif;
  border-bottom: 1px solid #CCC; }

.block {
  display: block;
  float: left;
  height: 100%;
  overflow: hidden; }

.event-type {
  width: 3%;
  border-right: 1px solid #999; }

.event-name {
  line-height: 1.75em;
  text-align: center;
  padding: 5px; }

.multi-event-icon-container {
  height: 100%;
  width: 24px;
  position: relative;
  margin-left: 3%; }

.multi-event-icon {
  position: absolute;
  top: 7px;
  left: 0px; }

.collapse-icon-container {
  margin: 7px 0;
  height: 24px; }
