/* Coolors Exported Palette - coolors.co/cca9a9-ed4912-707d84-fffaff-277a96 */
:host {
  background-color: #eeeeee;
  width: 100%;
  height: 3.5em;
  display: block;
  font-family: "Helvetica", sans-serif;
  border-bottom: 1px solid #CCC; }

.block {
  display: block;
  float: left;
  height: 100%;
  overflow: hidden; }

.event-type {
  width: 3%;
  background-color: red; }

.event-name {
  width: 47%; }

.horizontal-block {
  width: 100%;
  height: 50%;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: 27px; }

.event-title {
  font-size: 90%; }

.event-organizer {
  font-size: 90%; }

.event-info {
  float: right;
  max-width: 40%; }

.event-time {
  text-align: center;
  font-size: 80%; }

.text-light {
  font-size: 80%;
  color: #555555; }

.event-resource {
  font-size: 80%;
  text-align: center; }

.event-link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  float: right;
  line-height: 65px;
  width: 10%;
  text-align: center;
  vertical-align: center;
  background-color: #e4e4e4;
  border-radius: 50% 0 0 50%;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  transition: background-color 200ms ease, -webkit-transform 100ms ease;
  transition: background-color 200ms ease, transform 100ms ease;
  transition: background-color 200ms ease, transform 100ms ease, -webkit-transform 100ms ease; }

.event-link:hover {
  background-color: #d7d7d7;
  -webkit-transform: scaleX(1.1);
      -ms-transform: scaleX(1.1);
          transform: scaleX(1.1); }

.event-link:active {
  -webkit-transform: scaleX(0.97);
      -ms-transform: scaleX(0.97);
          transform: scaleX(0.97); }
