
//
// Variables
// --------------------------------------------------


// Colors
// ===================

$gray-base:  						#000 !default;
$gray-darker:						lighten($gray-base, 13.5%) !default; // #222
$gray-dark:  						lighten($gray-base, 20%) !default;   // #333
$gray:       						lighten($gray-base, 33.5%) !default; // #555
$gray-light: 						lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:					lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:					#FDFDFD;

$brand-primary:         #277A96;
$brand-secondary:       #707D84;
$brand-bg:              #F1F5F5;
$brand-success:         #04BF9D; 
$brand-highlight:       #277a96;
$brand-info:            #ed4912;
$brand-warning:         #f0ad4e; 
$brand-danger:          #F53D54; 
$brand-dark:            #404040;


$nice-blue: #9DBCC9;
$nice-blue-light: #ABC4CE;
$nice-blue-lighter: #BCCBD1;

$col-border-light:            #CCC;

/* Coolors Exported Palette - coolors.co/cca9a9-ed4912-707d84-fffaff-277a96 */

$color1: #cca9a9; //rgba(204, 169, 169, 100)
$color2: #ed4912; //rgba(237, 73, 18, 100)
$color3: #707d84; //rgba(112, 125, 132, 100)
$color4: #fffaff; //rgba(255, 250, 255, 100)
$color5: #277a96; //rgba(39, 122, 150, 100)


// Fonts
// ====================

$sans: 	'Helvetica', sans-serif;
$serif:  serif;