
<div class='box event-list-box'>
  <header class='dash-header'>Events</header>

  <div class="event-list">
    <ul>

        <span class='event-list-date-divider'><i class='fa fa-caret-square-o-down'/> 04/15/2016</span>
        <li class='event-list-item' ng-repeat='i in range(1,10)'>
            <span class="ename">SSA 501-{{i}}</span><br><span class="eorganizer">Time Hacker</span>
        </li> 
        <span class='event-list-date-divider'><i class='fa fa-caret-square-o-down'/> 04/16/2016</span>
        <li class='event-list-item' ng-repeat='i in range(1,10)'>
            <span class="ename">SSA 501-{{i}}</span><br><span class="eorganizer">Time Hacker</span>
        </li> 

        <li class='event-list-item' ng-repeat='event in Events'>
             test: {{event.name}}
        </li>

    </ul>
  </div>
</div>


<div class='box schedule-box'>
<!--<header class='dash-header'>Visualizer</header>
    <div class='schedule' id='calendar'> --> 
    <div id='calendar'>


    </div>
</div>
