
<div class='box event-list-box'>
  <header class='dash-header'>Events</header>

  <div class="event-list">
    <ul>

        <!-- TODO: add spans for each day -->
        <span class='event-list-date-divider'><i class='fa fa-caret-square-o-down'/> 04/15/2016 </span>

        <li class='event-list-item-container' ng-repeat='event in events' data-em-event-list-item></li>

    </ul>
  </div>
</div>


<div class='box schedule-box'>
<!--<header class='dash-header'>Visualizer</header>
    <div class='schedule' id='calendar'> --> 
    <div id='calendar'>


    </div>
</div>
