
<div class='box event-list-box'>
  <header class='dash-header'>Upcoming Events</header>
  <div class="event-list-container">
    <ul>
        <li ng-repeat='event in Events'>
             test: {{event.name}}
        </li>
        <li ng-repeat='event in Events'>
             number: {{event.test}}
        </li>
    </ul>
      
  </div>
</div>


<div class='box schedule'>
    <header class='dash-header'>O, Calendar</header>
    <div id='calendar'></div>
</div>

<div class='box month-calendar'>
    

