<div class="dashboard-container">
<div class='box event-list'>
    
  <h4 class='head event-list-header'>Upcoming Events</h4>
    
  <div>
      
    <ul>
        <li ng-repeat='event in Events'>
             test: {{event.name}}
        </li>
        <li ng-repeat='event in Events'>
             number: {{event.test}}
        </li>
    </ul>
      
  </div>
</div>


<div class='box schedule'>
    <h4 class='head event-list-header'>O, Calendar</h4>
    <div id='calendar'></div>
</div>

<div class='box month-calendar'>
    

</div>
