:host{
	// child flex properties:
	flex: 1 0 300px;

	//parent flex
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.event-viewer-header{
	position: relative;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: flex-start;
	align-items: baseline;

	padding: 0.5em;

}

.icons-date-container{

}
.icons-container{

}
#search-icon{
	float: left;
	width: 2em;
	height: 2em;
	border: 1px solid grey;
}

#settings-icon{
	float: left;
	width: 2em;
	height: 2em;

	border: 1px solid grey;
}

#date-interface{
	float: left;
	width: 30em;
	height: 2em;

}

em-event-list{
	flex: 1 0 auto;
}