:host {
  -webkit-flex: 1 0 300px;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.event-viewer-header {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0.5em; }

#search-icon {
  float: left;
  width: 2em;
  height: 2em;
  border: 1px solid grey; }

#settings-icon {
  float: left;
  width: 2em;
  height: 2em;
  border: 1px solid grey; }

#date-interface {
  float: left;
  width: 30em;
  height: 2em; }

em-event-list {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
