:host{
	overflow: hidden;
	// child flex properties:
	flex: 1 0 320px;
	max-width: 400px;

	//parent flex properties:
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	align-content: stretch;
}

.date-viewer{
	
}

.event-viewer-header{



}