@import '../../shared/styles/variables';

:host{

	flex: 0 0 197px;
	position: relative;
	width: 100%;
	height: 197px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: stretch;

	padding: 10px;
	
}

.date-display{
	flex: 0 0 177px; 
	height: 100%;

	overflow: hidden;
}

.date-container{
	margin: 10px auto;
	text-align: center;
	font-size: 150%;
	line-height: 110%;
}
.day-name{
	color: #777;
}

.date-selector-buttons{
	text-align: center;
}

.status-display{
	flex: 1 0 50px;

	margin-left: 10px;
	background-color: $col-light-grey;
	border: 1px inset #ddd;
	border-radius: 10px;

	font-family: $sans;
}

