// DEBUG: move to _variables.scss
$col-event-class: #ed4912;


// HEADER
// -------------------
.dash-header {
	font-family: $font-family-serif;
    padding: 5px 5px;
    margin: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 4em;
    //border-bottom: 2px solid #9DBCC9;
    border-radius: 4px;
    background-color: lighten($brand-bg, 5%);
}



// Event List
// --------------------------------

.event-list-box {
	display: -webkit-flex; 
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-grow: 1;
	flex-grow: 1;
    height: 100%;

}


.event-list{

	width: auto;
	height: 90%;
	margin: 2% 1% 2% 2%;
	//border: 2px solid #9BCC9;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #FFF;

}


.event-list-item-container{
	width: 100%;
}


.event-list-item {

	width: 100%;
	margin-bottom: 2px;
	padding: 1%;
	background-color: $brand-bg;
	border-left: 0.4em solid $col-event-class;
	border-radius: 2px;
	cusor: default;


	.ename{
		font-size: 90%;
		cursor: default;
	}

	.eorganizer{
		font-size: 85%;
		color: #777;
		font-style: italic;
		cursor: default;
	}
}

.event-list-item:hover {
	background-color: darken($brand-bg, 5%);
}




.room-list-item {

	font-size: 80%;
	padding: 2px 0 0 1em;
	border-top: 1px solid $gray-lighter;
	overflow-x: hidden;

	position: relative;
	height: 5em;
}

.room-text-wrapper {

	position: absolute;
	width: 90%;
}

.room-list-text {

	color: darken($brand-bg, 50%);
}


.room-list-field {

	color: $gray;
	font-weight: bold;
}


.rl-field-time {

	text-align: right;
	font-weight: normal;
}





// Fullcalendar
// ------------------------
// TODO: move fc default styles here? Or what?
// TODO: figure out fc styling ugh


.schedule-box {

	display: -webkit-flex; 
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-grow: 2;
	flex-grow: 2;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;

    width: 60%;
    // TODO: scroll within calendar, not within container
    overflow: scroll;



}



