@import '../../shared/styles/variables';

:host{

	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: $gray-lighter;
	border: 2px solid $col-border-light;
	border-radius: 2px;

	font-size: 85%;

}

.event-time{
	text-align: center;
	color: $gray;
	font-size: 65%;
	margin: 5px 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid $col-border-light;
}

.event-name{
	text-align: center;
	
}