<div class='time-axis-column'>
	<div class='time-axis-column-heading'>
	</div>

	<div #timeAxis class='time-axis-body'>
		<div class='timeslot'  [style.height]='timeSlotHeight' *ngFor='let timeSlot of timeSlotList'>
			{{ displayClockTimeFromTimeSlot( timeSlot ) }}
		</div>
	</div>
</div>

<div class='resource-columns-wrapper'>

	<div class='column' id='{{resource}}' *ngFor='let resource of resources'>
		
		<div class='column-heading'>
		{{ resource }}
		</div>

		<div class='column-body'>
			<div 
					class='column-time-slot' 
					[ngClass]="{ 'strong-line': isOdd }" *ngFor='let timeSlot of timeSlotList; let isOdd = odd ' 
					[style.height]='timeSlotHeight'
			>
			</div>

			<em-resource-scheduler-item 
				*ngFor='let event of getFilteredEvents( resource )'
				[event]='event' 
				[ngStyle]="{ 
					'top': calculateEventPixelsFromTop( event ), 'height': calculateEventHeight( event ) 
				}"
			>
			</em-resource-scheduler-item>

		</div>

	</div>

</div>