@import '../../shared/styles/variables';

:host{
	flex: 1 1 auto;

	overflow: visible;
	
	display: flex;
	flex-direction: column;
	align-items: stretch;

	font-family: $sans;

	margin-left: 1em;
}

.resource-header-container{
	flex: 0 0 auto;
}