<div class='time-axis-column'>
	<div class='time-axis-column-heading'>
	</div>

	<div #timeAxis class='time-axis-body'>
		<div class='timeslot' [style.height]='timeSlotHeight' *ngFor='let timeSlot of timeSlotList'>
			{{ timeSlot?.format('h:mm') }}
		</div>
	</div>
</div>

<div class='resource-columns-wrapper'>

	<div class='column' id='{{resource}}' *ngFor='let resource of resources'>
		
		<div class='column-heading'>
		{{ resource }}
		</div>

		<div class='column-body'>

			<em-resource-scheduler-item *ngFor='let event of getFilteredEvents( resource )' [event]='event' [hourInPx]='hourInPx' [rangeStart]='timeSlotList[0]'></em-resource-scheduler-item>

		</div>

	</div>

</div>