@import '../../shared/styles/variables';

:host{
	flex: 1 1 auto;

	height: 100%;
	max-width: 100%;
	overflow-x: auto;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;


	border: 1px solid $gray-lightish;
}

.time-axis-column{

	flex: 0 0 50px;

	border-right: 1px solid $gray-lightish;

	display: flex;
	flex-direction: column;

	box-shadow: 1px 0px 1px $gray-lightish;
	z-index: 1;
}
.time-axis-column-heading{
	flex: 0 0 40px;
	height: 40px;
}
.time-axis-body{
	flex: 1 0 auto;
}
.timeslot{
	border-top: 1px solid $gray-lightish;
}


.resource-columns-wrapper{
	
	flex: 1 0 auto;

	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.column{
	position: relative;
	border-right: 1px solid $gray-lightish;
	flex: 0 0 84px;
	width: 84px;

	display: flex;
	flex-direction: column;
}



.column-heading{
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: $col-bg;
	border-bottom: 1px solid $gray-lightish;
	box-shadow: 0px 1px 1px $gray-lightish;
	z-index: 1;

	text-align: center;
	padding-top: 4px;
}

.column-body{
	position: relative;
	
	flex: 1 0 auto;
	background-color: darken( $gray-lightest, 0.5% );
}

.column-time-slot{
	z-index: -1;
	width: 100%;
	border-bottom: 1px dotted $col-border-light;
}
.column-time-slot.strong-line{
	border-style: dashed;
}


