@import '../../shared/styles/variables';

:host{
	z-index: 1;


	display: block;
	position: absolute;
	
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: $gray-lighter;
	border: 2px solid $col-border-light;
	border-top: none;
	border-radius: 2px;

	font-size: 85%;

	transition: background-color 200ms ease,
							transform 200ms ease,
							box-shadow 200ms ease;
}

:host.focused{
	transform: translateY(-1%);
	z-index: 21;
	//border-color: yellow;
	//background-color: #a5caff;
	box-shadow: 3px 3px 5px 2px #777;
}

.event-type{
	width: 100%;
	height: 10px;

	line-height: 10px;
	font-size: 70%;
	padding: 0px 2px;
	color: $gray-lightest; 
}

.event-time{
	text-align: center;
	color: $gray;
	font-size: 65%;
	margin: 5px 2px 0;
	padding-bottom: 2px;
	border-bottom: 1px solid $col-border-light;
}

.event-name{
	padding: 4px 2px;
	width: 100%;
	height: 100%;
	text-align: center;
	
}